@charset "utf-8";

/* Duotone color scheming:
 * Uses blossom as the revealing/stark color
 * Uses fade as the more prominent color
 */
$color-blossom: #363335;
$color-fade: #A0c7BF; 

/* bg color is used for the background of the page
 * bg-alt is used for code-blocks etc
 */
$color-bg: #fff;
$color-bg-alt: #f7f7f7;

/* color of all the text on the page */
$color-text: #0B060E;
$font-size-base: 1.9rem;

$font-family-base: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-heading: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

@import './main';
