{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<h2>All Posts</h2>

<ul>
 {% for article in dates %}
<div>
    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    <span>—{{article.locale_date}}</span></li>
</div>
{% endfor %}
   
</ul>
{% endblock %}
