<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if SITE_DESCRIPTION %}
        {% block site_description %}<meta name="description" content="{{ SITE_DESCRIPTION }}" />{% endblock site_description %}
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        {% endblock head %}
</head>

<body id="index">
  <header id="banner">
  </header><!-- /#banner -->
  <h1><a href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
  <nav id="menu" >
      {% for title, link in LEFT_MENUITEMS %}
      {% if loop.index == 1 %}<span>[</span>{%endif%}
      <a href="{{ link }}">{{ title }}</a>
      {% if loop.index != loop.length %}<span>|</span>{%endif%}
      {% if loop.index == loop.length %}<span>]</span>{%endif%}
      {% endfor %}

    <div  style="float: right;">
      {% for title, link in RIGHT_MENUITEMS %}
      {% if loop.index == 1 %}<span>[</span>{%endif%}
      <a href="{{ link }}">{{ title }}</a>
      {% if loop.index != loop.length %}<span>|</span>{%endif%}
      {% if loop.index == loop.length %}<span>]</span>{%endif%}
      {% endfor %}
    </div>
  </nav><!-- /#menu -->
  <hr>
  <div >
    {% block content %}
    {% endblock %}
  </div>
    <hr>
    <footer class="footer">
        {% if  SITE_FOOTER %}
        {{SITE_FOOTER}}
        {% else %}
        <address id="about" class="vcard body">
        Proudly powered by <a href="https://getpelican.com/">Pelican</a>,
        which takes great advantage of <a href="https://www.python.org/">Python</a>.
        </address><!-- /#about -->
        {% endif %}
    </footer><!-- /#contentinfo -->
</body>
</html>
