{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}

  {% endblock %}
  {% if SITE_WELCOME %}
  {{SITE_WELCOME}}
  {% endif %}

  <h2>Articles</h2>

  {% for article in articles_page.object_list %}
  <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
  <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
  {% endfor %}
  <br></br>
  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
